.catalog_films{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        text-align: center;
    }
    &__menu{
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
    
}