.search{
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-style: solid;
    height: 3vh;
    width: 15vw;
    border-radius: 0.5vw;
    border-width: 0.1vw;

    &__input{
        margin: 0.2vw;
        width: 90%;
    }
}